

.studentList {
  padding: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 20px; /* Space between items */
  list-style-type: none;
  padding: 0;
}

.studentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  text-align: center;
  margin-top: 10px;
}

.name {
  font-size: 1.2rem;
  color: #333;
  margin: 5px 0;
}

.qualification, .destination, .currentRole {
  color: #555;
  margin: 0px 0;
  font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
  }
}

@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr; /* One column on extra small screens */
  }
}
