/* Top Bar */
.custom-nav-links {
  margin-right: 50px; 
     gap: 15px;
}
.custom-nav-links a {
  font-size: 12px;
  padding: 0;

}





/* Footer */
.footer-container {
  width: 100%; /* Full width */
  background-color: #212529; /* Background color */
  padding: 20px 20px; /* Vertical padding */
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Distribute columns evenly */
  color: #fff; /* Text color */
}

.footer-col {
  flex: 1; /* Each column takes equal space */
  padding: 15px 35px;
}

.footer-col h3 {
  margin-bottom: 15px; /* Space below heading */
  font-size: 18px; /* Font size for headings */
}
