.campusesPage {
    padding: 40px;

    text-align: center;
  }
  
  .pageTitle {
    font-size: 2.8rem;
    color: #385bce;
    margin-bottom: 50px;
  }
  
  .campusContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .campusContent {
    padding: 25px;
    text-align: left;
  }
  
  .campusTitle {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .campusDescription {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .campusSubtitle {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .campusFeatures {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
  }
  
  .campusFeatures li {
    margin-bottom: 8px;
    font-size: 1.1rem;
  }
  
  .readMoreButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #385bce;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .readMoreButton:hover {
    background-color: #2c48a3;
  }
  